/* XXL breakpoint */
@media (max-width: 1399.98px) {
    .header.shop .sub-category {
        left: 255px;
    }
}

/* XL breakpoint */
@media (max-width: 1199.98px) {
    .header.shop .sub-category {
        left: 210px;
        top: -8px;
    }

    .header.shop .main-category li a {
        margin: 8px;
        padding: 5px;
    }
}

/* Large breakpoint */
@media (max-width: 991.98px) {
    /* Close search input [laptop] */
    .search-bar-top {
        display: none;
    }
    /* Open search icon [tablet] */
    .header.shop .shopping-cart .search-icon {
        display: inline-block;
        margin-right: 5px;
        color: #fff;
    }

    .header.shop .shopping-cart .search-icon:hover {
        color: #ccc;
    }

    /* Category */
    .header.shop .all-category {
        display: none;
    }

    /* Overlay */
    .anlb-modal__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
    }

    /* Modal show search input */
    .anlb-modal.show {
        opacity: 1;
        visibility: visible;
    }
    
    .anlb-modal.show > .anlb-modal__overlay {
        opacity: 1;
        visibility: visible;
    }
}

/* Medium breakpoint */
@media (max-width: 767.98px) {
    .middle-inner {
        background: #333;
    }

    .product__container {
        margin-top: 20px;
    }

    /* shopping-cart & favourite quantity color */
    .text-secondary,
    .header .list-main li i {
        color: #000;
    }

    /* Logo */
    .header .logo {
        width: 20px;
    }

    .header .logo__heading {
        font-size: 2rem;
        font-weight: 800;
    }

    .header-top-align-start {
        display: none;
    }

    .header-top-align {
        justify-content: center;
    }

    /* Hide navbar */
    .header-inner {
        display: none;
    }

    /* show menu__icon */
    .header.shop .shopping-cart .side-menu__icon {
        display: inline-block;
        padding: 5px 10px;
        color: #fff;

        border: 1px solid #0000;
        border-radius: 5px;
        background: linear-gradient(#000, #000000bb) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #fff
        )   border-box;
        animation: 8s rotate linear infinite;
        text-align: center;
    }

    /**
     *  Show favourite & shopping card icons 
     *  Topbar at md breakpoint
     */
    .header-top-align-end .header-info-items li:nth-child(3),
    .header-top-align-end .header-info-items li:nth-child(4) {
        display: inline-block;
    }

    .header-top-align-end .header-info-items .badge {
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 96%;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .header-top-align-end .header-info-items li:nth-child(2) {
        border-right: 1px solid #f0f0f0;
        padding: 0px 13px;
    }

    /**
     *  Hide favourite & shopping card icons 
     *  middle inner at md breakpoint
     */
    .header .shopping-cart .heart__icon-link,
    .header .shopping-cart .shopping-cart__icon-link {
        display: none;
    }

    .header.shop .shopping-cart .search-icon {
        margin-right: 0;
    }

    /* Modal show menu */
    .side-menu.show {
        translate: 0;
        box-shadow: 0 40px 90px 20px var(--sidebar-box-shadow);
    }

    .side-menu.show ~ .anlb-modal__overlay {
        opacity: 1;
        visibility: visible;
    }

    /* Dropdown side-menu */
    .menu-item-has-children .sub-menu {
        height: 0;
        overflow: hidden;
        transform: translateY(0px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    .menu-item-has-children--active .sub-menu {
        height: auto;
        /* transform: translateY(0px); */
    }

    /* Slide show */
    .slideshow__item {
        padding-top: 50%;
    }

    .slideshow__number {
        font-size: 1.4rem;
        line-height: 1.42;
    }

    .slideshow__slider {
        border-width: 3px;
    }

    /* Footer */
    .footer-page-group,
    .footer-user-group {
        margin-bottom: 50px;
    }

    .footer-copyright__box {
        margin-left: 0;
        margin-right: 0;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-copyright__desc {
        text-align: center;
    }
}

@media (max-width: 679.98px) {
    .side-menu {
        inset: 0 55% 0 0;
    }
}

@media (max-width: 619.98px) {
    .side-menu {
        inset: 0 40% 0 0;
    }
}

/* small breakpoint */
@media (max-width: 575.98px) {
    .side-menu {
        inset: 0 30% 0 0;
    }
}