/* XXL breakpoint */
@media (max-width: 1399.98px) {
    .header.shop .sub-category {
        left: 256px;
    }
}

/* XL breakpoint */
@media (max-width: 1199.98px) {
    .header.shop .sub-category {
        left: 211px;
    }
}

/* Large breakpoint */
@media (max-width: 991.98px) {
    /* Close search input [laptop] */
    .search-bar-top {
        display: none;
    }
    /* Open search icon [tablet] */
    .header.shop .shopping-cart .search-icon {
        display: inline-block;
        margin-right: 5px;
        color: var(--primary-color);
    }

    .header.shop .shopping-cart .search-icon:hover {
        color: #ccc;
    }

    /* Category */
    .header.shop .all-category {
        display: none;
    }

    /* Overlay */
    .anlb-modal__overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
    }

    /* Modal show search input */
    .anlb-modal.show {
        opacity: 1;
        visibility: visible;
    }
    
    .anlb-modal.show > .anlb-modal__overlay {
        opacity: 1;
        visibility: visible;
    }
}

/* Medium breakpoint */
@media (max-width: 767.98px) {
    .header-top-align-end {
        display: none;
    }

    .header-top-align {
        justify-content: center;
    }

    /* hide navbar */
    .header-inner {
        display: none;
    }

    /* show icon menu */
    .header.shop .shopping-cart .side-menu__icon {
        display: inline-block;
        color: var(--primary-color);
    }

    .header.shop .shopping-cart .search-icon {
        margin-right: 0;
    }

    /* Modal show menu */
    .side-menu.show {
        translate: 0;
        box-shadow: 0 40px 90px 20px var(--sidebar-box-shadow);
    }

    .side-menu.show ~ .anlb-modal__overlay {
        opacity: 1;
        visibility: visible;
    }

    /* Dropdown side-menu */
    .menu-item-has-children .sub-menu {
        height: 0;
        overflow: hidden;
        transform: translateY(0px);
        transition: height 0.3s ease, transform 0.3s ease;
    }
    .menu-item-has-children--active .sub-menu {
        height: auto;
        /* transform: translateY(0px); */
    }
}

@media (max-width: 679.98px) {
    .side-menu {
        inset: 0 55% 0 0;
    }
}

@media (max-width: 619.98px) {
    .side-menu {
        inset: 0 40% 0 0;
    }
}

/* small breakpoint */
@media (max-width: 575.98px) {
    .side-menu {
        inset: 0 30% 0 0;
    }
}