/*======================================
	01. Header CSS
========================================*/
/* Topbar */
.topbar {
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	padding: 15px 0;
}

.header-top-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-align .header-top-align-start li {
    user-select: none;
}

.header .list-main li {
    display: inline-block;
	color: #333;
	font-size: 1.3rem;
	font-weight: 500;
	border-right: 1px solid #f0f0f0;
	padding: 0px 13px;
}

.header .list-main li i {
	margin-right: 4px;
	font-size: 1.5rem;
	color: var(--primary-color);
}

.header .list-main li:last-child {
	padding-right: 0;
	border: none;
}

.header .list-main li a{
	color:#333;
}

.header .list-main li a:hover{
	color: var(--primary-color);
}


/* Topbar - start */
.header .header-top-align-start .list-main li:first-child{
	padding-left: 0;
}

/* Topbar - end */
.header-top-align-end .header-info-items li:nth-child(2) {
    padding-right: 0;
    border: none;
}

.header-top-align-end .header-info-items li:nth-child(3),
.header-top-align-end .header-info-items li:nth-child(4) {
    display: none;
}

/* Logo */
.header .logo {
    width: 25px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(53%) saturate(662%) hue-rotate(351deg) brightness(95%) contrast(103%);
}

.header .logo__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.header .logo__heading {
    filter: none;
    font-size: 3rem;
    font-weight: 700;

    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg, var(--primary-color), var(--footer-primary-bg-color));
}

.header .logo .header__logo-img {
    width: 100%;
}

/* Header Middle: logo, search input [pc] area */
.middle-inner {
    /* margin-top: 20px; */
    /* padding-bottom: 20px; */
    padding: 20px 0;
}

.middle-inner__align-center {
    display: flex;
    align-items: center;
}

.search-bar-top {
    display: flex;
    justify-content: center;
}

.header.shop .search-bar {
    position: relative;
	width: 450px;
	background: #fff;
	border-radius: 5px;
}

.header.shop .search-bar input {
	background: transparent;
	color: #666;

    border: 2px solid #e8e8e8;
    border-radius: 8px;
    font-size: 1.6rem;
    height: 37px;
    line-height: 1.5;
    padding: 5px 73px 5px 21px;
    width: 450px;
}

.header .search-bar .btn {
    position: absolute;
	right: 0;
	top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
	width: 50px;

	color: #fff;
    border: 1px solid #0000;
	background: #000;
	border-radius: 0 5px 5px 0;
    font-size: 1.7rem;
    line-height: 1;

    background: linear-gradient(#000, #000000bb) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #fff
        )   border-box;
    animation: 8s rotate linear infinite;

    transition: opacity 0.25s;
}

.header .search-bar .btn:hover{
	opacity: 0.9;
}

/* search input icon [tablet] + modal toggle search input */
.header.shop .shopping-cart .search-icon{
	display: none;
}

.anlb-modal {
    position: fixed;
    inset: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
}
.anlb-modal__content {
    position: relative;
    z-index: 1;
    width: min(475px, 100% - 40px);
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.20);
}
.anlb-modal__top {
    padding: 20px 10px 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.anlb-modal__top-left {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.anlb-modal__btn {
    margin-right: 15px;
    margin-top: -3px;
    background: transparent;
    outline: none;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.anlb-search__input {
    border: 2px solid #e8e8e8;
    color: #666;
    box-shadow: none;
    border-radius: 8px;
    height: 37px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 5px 73px 5px 21px;
    width: 100%;
}

.anlb-form {
    position: relative;
    padding: 0 25px 0 25px;
    margin: 40px 0;
}

.anlb-search__btn {
    position: absolute;
	right: 25px;
	top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
	width: 50px;

	color: #fff;
	background: #333333;
	border-radius: 0 5px 5px 0;
    font-size: 1.7rem;
    line-height: 1;
}

.anlb-modal__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    
    padding: 0 25px 15px 0;
}
.anlb-modal .anlb-modal__bottom .btn {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.anlb-modal .anlb-modal__bottom .btn:hover {
    background: #e1e6eb;
}

.anlb-modal__overlay {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s;
}


/* Modal show menu */
.side-menu {
    position: fixed;
    inset: 0 56% 0 0;
    
    z-index: 1;
    translate: -100%;
    transition: translate 0.25s;
    background-color: #1f1f1f;
}

.anlb-header .btn-menu-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--footer-primary-bg-color);
    color: #000;
    padding: 0 40px;
    line-height: 3.6;
    font-size: 1.6rem;
    font-weight: 600;

    position: relative;
    transition: all 0.3s ease-out;
}

.anlb-body .info-items > ul > li {
    display: block;
    line-height: 1;
    position: relative;
    border-bottom: 1px solid #373737;
    padding: 20px 10px 23px 40px;
}

.anlb-body .info-items > ul > li > a {
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    transition: color 0.25s;
}

.anlb-body .info-items > ul > li > a:hover {
    color: var(--footer-primary-bg-color);
}

.anlb-body .info-items > ul > li > a > i {
    color: var(--footer-primary-bg-color);
}

.menu-item-has-children a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-items .nav-menu .menu-item-has-children {
    position: relative;
}

.mobile-menu-items .nav-menu .menu-item-has-children a {
    display: flex;
    width: 100%;
    background: none;
    text-align: left;
    padding: 10px 20px;
    border: 0;
    border-bottom: 1px solid #373737;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    transition: color 0.25s;
}

.mobile-menu-items .nav-menu .menu-item-has-children--active > a,
.mobile-menu-items .nav-menu .menu-item-has-children a:hover {
    color: var(--footer-primary-bg-color);
    cursor: pointer;
}

.mobile-menu-items .menu-item-has-children i {
    transition: rotate 0.25s;
}

.menu-item-has-children--active i {
    rotate: 90deg;
}

.mobile-menu-items {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-color: #1f1f1f #292929;
    max-height: 60vh;
}


/* Shopping cart & favourite icons */
.header .shopping-cart .btn {
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    background: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header .shopping-cart .btn i {
    font-size: 1.9rem;
}

.header .shopping-cart .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header .shopping-cart .btn .badge {
    position: relative;
    top: -10px;
}

.header .shopping-cart {
    text-align: end;
}

.header .shopping-cart .shopping-cart__icon-link {
    padding-right: 0;
}



/* Header inner */
.header .header-inner{
	width: 100%;
	z-index: 999;
    background: #333;
}

/* Header Category */
.header.shop .all-category {
    position: relative;
    background: var(--footer-primary-bg-color);
    cursor: pointer;
}

.header.shop .category-heading {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #000;
    padding: 10px 15px;
    user-select: none;
}

.header.shop .category-heading i {
    display: inline-block;
    margin-right: 15px;
    font-size: 2.2rem;
}

.header.shop .main-category {
    position: absolute;
    left: 0;
    top: 42px;
    z-index: 1;

    background: #fff;
    width: 100%;
    box-shadow: 0px 5px 15px #0000000a;

    opacity: 0;
	visibility: hidden;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	transition: all 0.3s ease 0s;
}

.header.shop .all-category:hover .main-category {
    opacity: 1;
	visibility: visible;
    transform: translateY(0px);
}

.header.shop .main-category li {
    display: block;
    position: relative;
    border-bottom: 1px solid #f6f6f6;
}

.header.shop .main-category li:last-child{
	border:none;
}

.header.shop .main-category li a {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 6px 10px;
}

.sub-category li a,
.header.shop .main-category li a {
    line-height: 1.5;
    color: #333;
    font-size: 1.6rem;
}

.header.shop .sub-category {
	position: absolute;
	left: 313px;
    top: -10px;
	width: 220px;
	z-index: 999999;
	opacity: 0;
	visibility: hidden;

	background: #fff;

	transition: all 0.25s ease;
	border-left: 3px solid var(--footer-primary-bg-color);
}

.header.shop .sub-category li a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@supports (-webkit-line-clamp: 2) or (line-clamp: 2) {
    .header.shop .sub-category li a {
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }
}

.header.shop .main-category li:hover .sub-category{
	opacity: 1;
	visibility: visible;
}

.header.shop .main-category li a:hover{
    background: linear-gradient(90deg, #ffd33379, #ffd3335e);
}

/* navbar - menu */
.menu-area .navbar .navbar__list {
    display: flex;
    align-items: center;
}

.menu-area .navbar .navbar__list .navbar__item {
    position: relative;
    transition: background 0.25s;
}

.menu-area .navbar .navbar__list .navbar__item:hover {
    background: var(--footer-primary-bg-color);
}

.menu-area .navbar__item:hover .navbar__item-link {
    color: #000;
}

.navbar__list .navbar__item .navbar__item-link {
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding: 0 20px;

    font-size: 1.6rem;
    color: #fff;
    
    line-height: 2.6;
}

.navbar__list .navbar__item .navbar__item-link i {
    font-size: 1rem;
}

.navbar__list .navbar__item .dropdown {
    position: absolute;
    left: 0;
	z-index: 999;
    
    width: 220px;
	padding: 10px;
    background: #fff;
	box-shadow: 0px 3px 5px #3333334d;

	opacity: 0;
	visibility: hidden;
	transform-origin: 0 0 0;
	transform: scaleY(0.2);
	transition: all 0.3s ease 0s;
}

.menu-area .navbar .navbar__item:hover .dropdown {
    opacity: 1;
	visibility: visible;
    transform: translateY(0px);
}

.navbar__sub-item .navbar__sub-item-link {
    padding: 8px 15px;
	color: #666;
	display: block;
    line-height: 1.5;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar__sub-item:hover .navbar__sub-item-link {
    color:#000;
	background: linear-gradient(90deg, #ffd33379, #ffd3335e);
}

/* Medium breakpoint menu */
.header.shop .shopping-cart .side-menu__icon {
    display: none;
}

/*======================================
	End Header
========================================*/


/*======================================
	2. Main ------------------index.html
========================================*/
.home {
    margin-bottom: 50px;
}

.home__container {
    margin-top: 40px;
}

.home__heading {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.home__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Slide show */
.slideshow__container {
    margin-top: 0;

    position: relative;
    overflow: hidden;
}

.slideshow__inner {
    display: flex;
    margin: 0 auto;

    width: 100%;
    transition: transform 1s ease-in-out;
}

.slideshow__item {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding-top: 50%;
}

.slideshow__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow__indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background: #000;
}

/* Product card */
.product-card {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 16px;
    background: var(--product-card-bg-color);
    box-shadow: 0px 20px 60px 10px var(--product-card-shadow);
}

.product-card__img-wrap {
    position: relative;
    padding-top: 100%;
    background: #cccccc;
}

.product-card__thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-card__like-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.product-card__title {
    margin-top: 16px;
}

.product-card__price,
.product-card__brand,
.product-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card__title,
.product-card__price,
.product-card__score {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
}

.product-card__brand {
    margin: 16px 0;
    color: #9e9da8;
    font-size: 1.5rem;
    line-height: 1.46;
}

.product-card__row {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.product-card__star {
    margin: 0 6px 0 auto;
}

/* Like btn */
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
}

.like-btn:not(.like-btn--liked) .like-btn__icon--liked {
    display: none;
}

.like-btn--liked .like-btn__icon {
    display: none;
}

.like-btn__icon--liked {
    margin-top: 6px;
}
/*======================================
	End main------------------index.html
========================================*/
/*======================================
	2. Main --------product-details.html
========================================*/
.icon {
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2819%) hue-rotate(41deg) brightness(122%) contrast(73%);
}
.product-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.product-container {
    margin-top: 30px;
}

.product-preview__list {
    display: flex;
    overflow: hidden;
}

.product-preview__item {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    padding-top: 92%;
}

.product-preview__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-preview__thumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.product-preview__thumb-img {
    width: 65px;
    height: 65px;
    object-fit: contain;
    border: 1px solid rgba(158, 157, 168, 0.3);
    border-radius: 8px;

    opacity: 0.8;
    transition: opacity 0.25s, border-color 0.25s;
}

.product-preview__thumb-img:not(.product-preview__thumb-img--current):hover {
    opacity: 1;
    border-color:#9e9da8;
    cursor: pointer;
}

.product-preview__thumb-img--current {
    opacity: 1;
    border-color: var(--footer-primary-bg-color);
}

.product-info {
    padding: 60px;
    border-radius: 10px;
    background: #cccccc24;
}

.product-info__heading {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.38;
    color: #e1dcdc;
}

.product-info__label {
    margin-top: 30px;
}

.product-info__card {
    margin-top: 30px;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #b9babe;
}

.product-info__row {
    display: flex;
    align-items: center;
}

.product-info__price {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #e1dcdc;
}

.product-info__tax {
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 4px;
    background: rgba(103, 176, 68, 0.2);
    color: #67b044;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.42;
}

.product-info__total-price {
    margin: 20px 0;
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.38;

    color: #e1dcdc;
}

.product-info__add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 46px;
    flex: 1;

    padding: 0 20px;
    border-radius: 6px;
    color: #171c28;
    background: var(--footer-primary-bg-color);

    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 500;
    user-select: none;
}

.product-info__like-btn {
    width: 46px;
    height: 46px;
    margin-left: 20px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
    background: transparent;
}

.product-info-content {
    border-radius: 20px;
}

.product-properties {
    padding-left: 30px;
}

.product-property {
    display: flex;
    gap: 16px;
    margin-top: 30px;
}

.product-property__title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.44;
    color: #e1dcdc;
}

.product-property__icon {
    align-self: flex-start;
}

.product-property__desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.42;

    color: #e1dcdc;
}

.product-tab__list {
    display: flex;
    align-items: center;
    margin: 0 -30px;
}

.product-tab__item {
    padding: 0 30px;
    color: #9e9da8;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.45;
    user-select: none;
    white-space: nowrap;
}

.product-tab__item:not(.product-tab__item--active) {
    cursor: pointer;
}

.product-tab__item--active {
    color: var(--footer-primary-bg-color)
}

.product-tab__contents {
    padding-top: 30px;
}

.product-tab__content {
    display: none;
}

.product-tab__content--active {
    display: block;
}

.product-tab__text-content {
    margin-top: -20px;
}

.product-content__heading {
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.41;
    color: #e1dcdc;
}

.text-content {
    font-size: 1.6rem;
    line-height: 1.6;
}

.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6 {
    font-weight: 600;
    color: #fff;
}

.text-content h1 {
    font-size: 2.6rem;
}

.text-content h2 {
    font-size: 2.2rem;
}

.text-content h3 {
    font-size: 1.8rem;
}

.text-content h4 {
    font-size: 1.6rem;
}

.text-content h5 {
    font-size: 1.4rem;
}

.text-content h6 {
    font-size: 1.2rem;
}

.text-content h1, .text-content h2, .text-content h3,
.text-content h4, .text-content h5, .text-content h6,
.text-content p, .text-content blockquote, .text-content img,
.text-content figure, .text-content ul, .text-content ol,
.text-content table {
    margin: 20px 0;
}

.text-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.text-content img + em {
    display: block;
    font-style: italic;
    text-align: center;
}

.text-content p {
    color: #e1dcdc;
}

.text-content a {
    color: #fff;
    text-decoration: underline;
}

.text-content blockquote {
    background: #cccccc24;
    padding: 20px;
    border-left: 3px solid var(--footer-primary-bg-color);
}

.text-content blockquote p {
    margin: 0;
    color: #e1dcdc;
}

.text-content hr {
    border: none;
    height: 1px;
    margin: 50px 0;
    background: #ebebeb;
}
/*======================================
	End main--------product-details.html
========================================*/

/*======================================
	3. Footer
========================================*/
.footer {
    margin-top: 250px;
    padding-top: 35px;
    background: #3D464D;
    position: relative;
}

.footer svg {
    position: absolute;
    top: -290px;
    left: 0;
}

.footer-content-right,
.footer-content-left {
    margin-bottom: 40px;
}

.footer__row {
    margin-top: -100px;
    padding: 30px 0 0;
    position: relative;
    z-index: 1;
}

.footer-text-primary {
    color: var(--footer-primary-bg-color);
}

.footer-text-secondary {
    color: var(--footer-text-secondary);
}

.footer .footer-heading-right,
.footer .footer-heading-left {
    user-select: none;
}

.footer .footer-user-box,
.footer .footer-page-box {
    display: flex;
    flex-direction: column;
}

.footer-heading-right,
.footer-heading-left {
    margin-bottom: 20px;
}

.footer-desc-left,
.footer-desc-right {
    line-height: 1.5;
}

.footer-desc-right {
    margin-bottom: 15px;
}

.footer-desc-left {
    margin-bottom: 25px;
}

.footer-address-left,
.footer-email-left {
    margin-bottom: 15px;
}

.footer-address-left i,
.footer-email-left i,
.footer-phone-left i {
    margin-right: 7px;
}

.footer-user__link,
.footer-page__link {
    margin-bottom: 15px;
    transition: transform 0.25s;
}

.footer-user__link:hover,
.footer-page__link:hover {
    color: var(--footer-primary-bg-color);
    transform: translateX(10px);
}

.footer-user__link:last-child,
.footer-page__link:last-child {
    margin-bottom: 0;
}

.footer-page__link i,
.footer-user__link i {
    margin-right: 7px;
}

.footer-input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.footer-form-control {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background: #fff;
    border: 1px solid #ced4da;
}

.footer-form {
    position: relative;
    margin-bottom: 20px;
}

.footer-signup__input {
    color: #666;
    box-shadow: none;
    height: 37px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 5px 90px 5px 10px;
    border: 1px solid #0000;
    border-radius: 5px;
    width: 100%;

    background: #fff;
}

.footer-signup__btn {
    position: absolute;
	right: 0;
	top: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    min-width: 80px;

	border: 1px solid #0000;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(#000, #000000bb) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #fff
        )   border-box;
    animation: 8s rotate linear infinite;

    font-size: 1.6rem;
    color: #fff;
    line-height: 1;
    transition: opacity 0.25s;
}

.footer-signup__btn:hover {
    opacity: 0.9;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}
  
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.footer-socials-heading {
    margin-bottom: 20px;
}

.footer-socials-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-social-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    overflow: hidden;

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8), -3px -3px 5px rgba(50, 50, 50, 0.2);
    transition: transform 0.2s;
}

.footer-social-btn::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: conic-gradient(from 0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.2) 50%);
    z-index: -1;
    animation: rotate-light 2s linear infinite;
}

.footer-social-btn:hover {
    transform: scale(1.1); 
}

@keyframes rotate-light {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.footer-copyright {
    padding: 25px 0;
    border-top: 1px solid #dee2e6;
}

.footer-copyright__desc {
    line-height: 1.5;
}

.fa-twitter {
    color: #479eed;
}

.fa-facebook-f {
    color: #2e65f7;
}

.fa-linkedin-in {
    color: #fff;
}

.fa-instagram {
    color: #d81c61;
}