<div class="container bg-dark footer-text-secondary">
    <div class="row footer__row">


        <!-- PC: 4 || MD: 12 -->
        <div class="col-4 col-lg-12 footer-content-left">
            <h5 class="footer-heading-right footer-text-secondary">GET IN TOUCH</h5>
            <p class="footer-desc-left">No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no</p>
            <p class="footer-address-right"><i class="ti-location-pin footer-text-primary"></i>123 Street, New York, USA</p>
            <p class="footer-email-right"><i class="fa fa-envelope footer-text-primary"></i>info@example.com</p>
            <p class="footer-phone-right"><i class="fa fa-phone footer-text-primary"></i>+012 345 67890</p>
        </div>
        <!-- PC: 8 || MD: 12 -->
        <div class="col-8 col-lg-12 footer-content-right">
            <div class="row">
                <div class="col-4 col-lg-3 col-md-12 footer-page-group">
                    <h5 class="footer-heading-left footer-text-secondary">QUICK SHOP</h5>
                    <div class="footer-page-box">
                        <a class="footer-page__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Home</a>
                        <a class="footer-page__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Our Shop</a>
                        <a class="footer-page__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Shop Detail</a>
                        <a class="footer-page__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Shopping Cart</a>
                        <a class="footer-page__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Checkout</a>
                        <a class="footer-page__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-4 col-lg-3 col-md-12 footer-user-group">
                    <h5 class="footer-heading-left footer-text-secondary text-uppercase">MY ACCOUNT</h5>
                    <div class="footer-user-box d-flex flex-column justify-content-start">
                        <a class="footer-user__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Home</a>
                        <a class="footer-user__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Our Shop</a>
                        <a class="footer-user__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Shop Detail</a>
                        <a class="footer-user__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Shopping Cart</a>
                        <a class="footer-user__link footer-text-secondary" href="#"><i class="fa fa-angle-right"></i>Checkout</a>
                        <a class="footer-user__link footer-text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-4 col-lg-6 col-md-12">
                    <h5 class="footer-heading-left footer-text-secondary text-uppercase">NEWSLETTER</h5>
                    <p class="footer-desc-right">Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                    <form class="footer-form" action="">
                        <input class="footer-signup__input" type="text" placeholder="Your Email Address">
                        <button class="btn btn-primary footer-signup__btn">Sign Up</button>
                    </form>
                    <h6 class="footer-socials-heading footer-text-secondary">FOLLOW US</h6>
                    <div class="footer-socials-box">
                        <a class="footer-social-btn" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="footer-social-btn" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="footer-social-btn" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="footer-social-btn" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-copyright" >
        <div class="col-12 footer-copyright__box">
            <p class="footer-text-secondary">
                &copy; <a class="footer-text-primary" href="#">Domain</a>. All Rights Reserved. Designed by
                <a class="footer-text-primary" href="https://lbachannel.github.io/anlb-portfolio">AnLB</a>
            </p>
        </div>
    </div>
</div>