<!-- Topbar -->
<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-top-align">
                    <!-- Topbar start -->
                    <div class="header-top-align-start">
                        <div class="desc">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
                                <li><i class="ti-email"></i> support@shophub.com</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Topbar end -->
                    <div class="header-top-align-end">
                        <div class="header-info-items">
                            <ul class="list-main">
                                <li><i class="ti-user"></i> <a href="#">My account</a></li>
                                <li><i class="ti-power-off"></i><a href="login.html#">Login</a></li>
                                <li>
                                    <a class="btn" href="">
                                        <i class="fas fa-heart text-primary"></i>
                                        <span class="badge text-secondary border rounded-circle" style="padding-bottom: 2px;">0</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="btn" href="">
                                        <i class="fas fa-shopping-cart text-primary"></i>
                                        <span class="badge text-secondary border rounded-circle" style="padding-bottom: 2px;">0</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Logo, search form area -->
<div class="middle-inner">
    <div class="container">
        <div class="row middle-inner__align-center">
            <!-- Logo -->
            <div class="col-2">
                <div class="logo">
                    <a href="index.html">
                        <img class="header__logo-img" src="./assets/images/logo.svg" alt="logo">
                    </a>
                </div>
            </div>
            <!-- Search form -->
            <div class="col-8 col-lg-4 col-md-2">
                <div class="search-bar-top">
                    <div class="search-bar">
                        <form>
                            <input name="search" placeholder="Search Products Here....." type="search">
                            <button class="btn"><i class="ti-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-2 col-lg-6 col-md-8">
                <div class="shopping-cart">
                    <!-- Search input icon [responsive] area -->
                    <button class="btn search-icon js-toggle" type="button" toggle-target="#header-search">
                        <i class="ti-search"></i>
                    </button>
                    <!-- favourite & shopping card icons -->
                    <a class="btn heart__icon-link" href="">
                        <i class="fas fa-heart text-primary"></i>
                        <span class="badge text-secondary border rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <a class="btn shopping-cart__icon-link" href="">
                        <i class="fas fa-shopping-cart text-primary"></i>
                        <span class="badge text-secondary border rounded-circle" style="padding-bottom: 2px;">0</span>
                    </a>
                    <!-- Tablet: show more icon -->
                    <button class="btn side-menu__icon js-toggle" type="button" toggle-target="#side-menu">
                        <i class="ti-menu"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Inner -->
<div class="header-inner">
    <div class="container">
        <div class="row">
            <!-- Category -->
            <div class="col-3">
                <div class="all-category">
                    <h3 class="category-heading">
                        <i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES
                    </h3>
                    <ul class="main-category">
                        <li><a href="#">Jordan <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            <ul class="sub-category">
                                <li><a href="#">Jordan Sleeper Picks</a></li>
                                <li><a href="#">Jordan x Howard Collection</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Shop Sale <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            <ul class="sub-category">
                                <li><a href="#">accessories</a></li>
                                <li><a href="#">best selling</a></li>
                            </ul>
                        </li>
                        <li><a href="#">New</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Black Friday</a></li>
                        <li><a href="#">Collections</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-9 col-lg-12">
                <div class="menu-area">
                    <!-- navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <div class="navbar-collapse">
                            <div class="nav-inner">
                                <ul class="navbar__list">
                                    <li class="navbar__item active"><a class="navbar__item-link" href="../index.html">Home</a></li>
                                    <li class="navbar__item"><a class="navbar__item-link" href="#">Product</a></li>
                                    <li class="navbar__item"><a class="navbar__item-link" href="#">Service</a></li>	
                                    <li class="navbar__item"><a class="navbar__item-link" href="#">Shop<i class="ti-angle-down"></i></a>
                                        <ul class="dropdown">
                                            <li class="navbar__sub-item"><a class="navbar__sub-item-link" href="cart.html">Cart</a></li>
                                            <li class="navbar__sub-item"><a class="navbar__sub-item-link" href="checkout.html">Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li class="navbar__item"><a class="navbar__item-link" href="#">Pages</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>